#eager-google-translate select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 8'><g><polygon fill='rgba(0,0,0,0.734)' transform='translate%287.5, 4.5%29 scale%281, -1%29 translate%28-7.5, -4.5%29' points='7.5 1 14 8 1 8'></polygon></g></svg>");
  background-position: right 45%;
  background-repeat: no-repeat;
  -moz-background-size: 2.5em .6em;
  -webkit-background-size: 2.5em .6em;
  background-size: 2.5em .6em;
  border-bottom-color: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: block;
  line-height: 1.4;
  margin: 0 auto 8px;
  width: 100%;
  padding: .6em 2.25em .6em .8em;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

.goog-te-combo {
  font-family: inherit !important;
}

.goog-logo-link {
  display: inline-block;
}

.goog-logo-link:before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxZTMiIGhlaWdodD0iMzI4LjU2IiBpZD0ic3ZnMiI+IDxwYXRoIHN0eWxlPSJmaWxsOiM0Mjg1ZjQ7ZmlsbC1vcGFjaXR5OjEiIGQ9Im0yNDYuMTEgMTE2LjE4aC0xMTYuNTd2MzQuNTkxaDgyLjY3M2MtNC4wODQyIDQ4LjUwNi00NC40NCA2OS4xOTItODIuNTMzIDY5LjE5Mi00OC43MzYgMC05MS4yNjQtMzguMzQ2LTkxLjI2NC05Mi4wOTIgMC01Mi4zNTcgNDAuNTQtOTIuNjc5IDkxLjM3MS05Mi42NzkgMzkuMjE3IDAgNjIuMzI2IDI1IDYyLjMyNiAyNWwyNC4yMi0yNS4wODFzLTMxLjA4Ny0zNC42MDgtODcuNzg0LTM0LjYwOGMtNzIuMTk3LTAuMDAxLTEyOC4wNSA2MC45MzMtMTI4LjA1IDEyNi43NSAwIDY0LjQ5MyA1Mi41MzkgMTI3LjM4IDEyOS44OSAxMjcuMzggNjguMDMxIDAgMTE3LjgzLTQ2LjYwNCAxMTcuODMtMTE1LjUyIDAtMTQuNTM5LTIuMTEwOS0yMi45NDItMi4xMTA5LTIyLjk0MnoiIGZpbGw9IiM0ODg1ZWQiIGlkPSJwYXRoMjk5OCIgLz4gIDxwYXRoIHN0eWxlPSJmaWxsOiNlYTQzMzU7ZmlsbC1vcGFjaXR5OjEiIGQ9Im0zNDEuNiA5MS4xMjljLTQ3LjgzMiAwLTgyLjExMSAzNy4zOTUtODIuMTExIDgxLjAwOCAwIDQ0LjI1OCAzMy4yNDkgODIuMzQ4IDgyLjY3MyA4Mi4zNDggNDQuNzQyIDAgODEuMzk3LTM0LjE5NyA4MS4zOTctODEuMzk3IDAtNTQuMDk4LTQyLjYzOC04MS45NTktODEuOTU5LTgxLjk1OXptMC40NzU2MyAzMi4wODNjMjMuNTIyIDAgNDUuODEyIDE5LjAxNyA0NS44MTIgNDkuNjYgMCAyOS45OTMtMjIuMTk1IDQ5LjU1Mi00NS45MiA0OS41NTItMjYuMDY4IDAtNDYuNjMzLTIwLjg3OC00Ni42MzMtNDkuNzkgMC0yOC4yOTIgMjAuMzEtNDkuNDIyIDQ2Ljc0MS00OS40MjJ6IiBmaWxsPSIjZGIzMjM2IiBpZD0icGF0aDMwMDAiIC8+ICA8cGF0aCBzdHlsZT0iZmlsbDojZmJiYzA1O2ZpbGwtb3BhY2l0eToxIiBkPSJtNTIwLjE4IDkxLjEyOWMtNDcuODMyIDAtODIuMTExIDM3LjM5NS04Mi4xMTEgODEuMDA4IDAgNDQuMjU4IDMzLjI0OSA4Mi4zNDggODIuNjczIDgyLjM0OCA0NC43NDIgMCA4MS4zOTctMzQuMTk3IDgxLjM5Ny04MS4zOTcgMC01NC4wOTgtNDIuNjM4LTgxLjk1OS04MS45NTktODEuOTU5em0wLjQ3NTYyIDMyLjA4M2MyMy41MjIgMCA0NS44MTIgMTkuMDE3IDQ1LjgxMiA0OS42NiAwIDI5Ljk5My0yMi4xOTUgNDkuNTUyLTQ1LjkyIDQ5LjU1Mi0yNi4wNjggMC00Ni42MzMtMjAuODc4LTQ2LjYzMy00OS43OSAwLTI4LjI5MiAyMC4zMS00OS40MjIgNDYuNzQxLTQ5LjQyMnoiIGZpbGw9IiNmNGMyMGQiIGlkPSJwYXRoMzAwNSIgLz4gIDxwYXRoIHN0eWxlPSJmaWxsOiM0Mjg1ZjQ7ZmlsbC1vcGFjaXR5OjEiIGQ9Im02OTUuMzQgOTEuMjE1Yy00My45MDQgMC03OC40MTQgMzguNDUzLTc4LjQxNCA4MS42MTMgMCA0OS4xNjMgNDAuMDA5IDgxLjc2NSA3Ny42NTcgODEuNzY1IDIzLjI3OSAwIDM1LjY1Ny05LjI0MDUgNDQuNzk2LTE5Ljg0N3YxNi4xMDZjMCAyOC4xOC0xNy4xMSA0NS4wNTUtNDIuOTM2IDQ1LjA1NS0yNC45NDkgMC0zNy40NjMtMTguNTUxLTQxLjgxMi0yOS4wNzhsLTMxLjM5MSAxMy4xMjNjMTEuMTM2IDIzLjU0NyAzMy41NTQgNDguMTAzIDczLjQ2MyA0OC4xMDMgNDMuNjUyIDAgNzYuOTIyLTI3LjQ5NSA3Ni45MjItODUuMTU5di0xNDYuNzdoLTM0LjI0NXYxMy44MzZjLTEwLjUzLTExLjM0Ny0yNC45My0xOC43NDUtNDQuMDQtMTguNzQ1em0zLjE3OCAzMi4wMThjMjEuNTI1IDAgNDMuNjI4IDE4LjM4IDQzLjYyOCA0OS43NjggMCAzMS45MDQtMjIuMDU2IDQ5LjQ4Ny00NC4xMDQgNDkuNDg3LTIzLjQwNiAwLTQ1LjE4NS0xOS4wMDUtNDUuMTg1LTQ5LjE4NCAwLTMxLjM1OCAyMi42MTktNTAuMDcxIDQ1LjY2LTUwLjA3MXoiIGZpbGw9IiM0ODg1ZWQiIGlkPSJwYXRoMzAwNyIgLz4gIDxwYXRoIHN0eWxlPSJmaWxsOiNlYTQzMzU7ZmlsbC1vcGFjaXR5OjEiIGQ9Im05MjUuODkgOTEuMDJjLTQxLjQxNCAwLTc2LjE4NyAzMi45NS03Ni4xODcgODEuNTcgMCA1MS40NDcgMzguNzU5IDgxLjk1OSA4MC4xNjUgODEuOTU5IDM0LjU1OCAwIDU1Ljc2OC0xOC45MDYgNjguNDI2LTM1Ljg0NWwtMjguMjM1LTE4Ljc4N2MtNy4zMjY4IDExLjM3MS0xOS41NzYgMjIuNDg0LTQwLjAxOCAyMi40ODQtMjIuOTYyIDAtMzMuNTItMTIuNTc0LTQwLjA2MS0yNC43NTRsMTA5LjUyLTQ1LjQ0NC01LjY4NTktMTMuMzE4Yy0xMC41OC0yNi4wOC0zNS4yNi00Ny44Ni02Ny45Mi00Ny44NnptMS40MjY4IDMxLjQxM2MxNC45MjMgMCAyNS42NjMgNy45MzQyIDMwLjIyNCAxNy40NDdsLTczLjEzOSAzMC41N2MtMy4xNTMyLTIzLjY2NyAxOS4yNjktNDguMDE3IDQyLjkxNS00OC4wMTd6IiBmaWxsPSIjZGIzMjM2IiBpZD0icGF0aDMwMTEiIC8+ICA8cGF0aCBzdHlsZT0iZmlsbDojMzRhODUzO2ZpbGwtb3BhY2l0eToxIiBkPSJtNzk3LjQ5IDI0OS43aDM1Ljk3NXYtMjQwLjc1aC0zNS45NzV6IiBmaWxsPSIjM2NiYTU0IiBpZD0icGF0aDMwMTUiIC8+PC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  content: "";
  margin-right: 3px;
  height: 12px;
  width: 37px;
  vertical-align: middle;
}

.goog-logo-link img {
  display: none;
}

.goog-te-gadget {
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit !important;
  margin-bottom: 1.1em;
  margin-top: 1.1em;
  max-width: 100%;
  padding: 15px 15px 11px;
  text-align: center;
  width: 20em;
}

#eager-google-translate[data-position="left"] .goog-te-gadget {
  margin-left: 1.1em;
  margin-right: auto;
}

#eager-google-translate[data-position="center"] .goog-te-gadget {
  margin-left: auto;
  margin-right: auto;
}

#eager-google-translate[data-position="right"] .goog-te-gadget {
  margin-left: auto;
  margin-right: 1.1em;
}
